services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: baseball_db
      POSTGRES_USER: baseball_user
      POSTGRES_PASSWORD: baseball_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DEBUG: "True"
      DB_NAME: baseball_db
      DB_USER: baseball_user
      DB_PASSWORD: baseball_pass
      DB_HOST: db
      DB_PORT: 5432
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    build: ./frontend
    command: npm start
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - web

volumes:
  postgres_data: